<header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/heroStats">Characters</a></li>
            <li><a href="/players/87376911">My Stats</a></li>
        </ul>
    </nav>
</header>