<header>
    <nav>
        <ul>
            <li><a href="/"><img src="/img/pngfind.com-dota-2-logo-png-774896.png" alt=""></a></li>
            <li><a href="/heroStats">Characters</a></li>
            <li><a href="/players/87376911">My Stats</a></li>
        </ul>
    </nav>
</header>