<header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/character">Characters</a></li>
            <li><a href="/movie">Movies</a></li>
        </ul>
    </nav>
</header>