<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DOTA 2 API WEB-APP">
    <meta name="keywords" content="HTML,CSS,JavaScript, PWA, SERVER-SIDE">
    <meta name="author" content="Wouter van der Heijde">
    <link rel="canonical" href="https://dota2api.herokuapp.com/heroStats"/>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="manifest" href="/manifest.webmanifest.json">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script defer src="/js/bundle.min.js"></script>
    <title><%= title %></title>
</head>