<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <% data.forEach(char => { %>
        <a href="detail/<%= char._id %>">
        <h3><%= char.name %></h3>
    </a>
    <% }); %>
</body>