<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <h3><%= data.name %></h3>
      <%= !data.race ? include('../partials/moviedetail.ejs') : include('../partials/chardetail.ejs')%>
    


</body>
</html>