<%- include('../partials/head.ejs') %>
<body class="active">
    <%- include('../partials/header.ejs') %>

    <main>
        <h1>Dota2 API match checker</h1>
        <p>This Web-app makes use of the <a href="https://docs.opendota.com/">OpenDotaAPI</a> </p>
        
        <article>
        <h2>What is Dota2?</h2>
        <p>Dota 2 is a member of the multiplayer online battle arena (MOBA) genre which combines elements of real-time strategy games (like Warcraft and StarCraft) with tower defense games (like Plants vs. Zombies and Dungeon Defenders).</p>
            <p>As with other MOBA games like League of Legends and Heroes of Newerth, Dota 2 was heavily inspired by the Warcraft III user-made game mode ‘Defense of the Ancients’ or DotA. The game was developed by Valve with heavy involvement from the original creator of Dota, an unknown individual nicknamed Icefrog, who can be considered the creator of the genre. Dota 2 is technically a sequel to the original Dota but is mostly regarded as its own standalone title.</p>
        </article>
    </main>
    <%- include('../partials/pageend.ejs') %>