
    <%- include('../partials/head.ejs') %>
<body>
    <% data.forEach(movie => { %>
        <a href="/movie/<%= movie._id %>">
        <h3><%= movie.name %></h3>
    </a>
    <% }); %>
</body>
</html>