ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
}
.hero-img{
    height: 7em;
    width: 10em;
    object-fit: cover;
    object-position: center;
}
