body{
    background-color: rgb(39, 39, 39);
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
main{
    padding: 1.5rem;

    margin: auto;
}
.hero-list ul{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
 
}
ul{
    list-style: none;
}
p{
    max-width: 24em;
}
main ul li {
    padding: .5rem;

}